<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="File" fileName="${basePath}/app.log" filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{2} -%msg%n"/>     <!-- c{2}  it will print up to level two... means package.class name... c{1} it will show only class name -->
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="100 KB"/>
			</Policies>
		</RollingFile>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1} -%msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
        <Root level="trace">                     <!--this one is default one  -->
			<AppenderRef ref="File"/>
		</Root>
		<Logger name="demo" level="info" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
		<Logger name="demo2" level="trace" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
		<!-- this one is set to the class level
		<Logger name="demo.ConsoleLogging" level="error" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
		 -->
	</Loggers>
</configuration>